body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#overview li{
    line-height: 2.3;
    font-size: 16px;
}
#about li{
    line-height: 2.3;
    font-size: 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4285f4;
    color: white;
    padding: 1rem 2rem;
}
.nav-links {
    display: flex;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}
.nav-links a:hover {
    text-decoration: underline;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
}
.sec{
    padding: 2rem 0;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}
section{
    width:100%;
    height: 100%;
}
h1 {
    color: white;
}
h2 {
    color: #4285f4;
    margin-top: 0;
    font-size: 30px;
}